<div class="site-banner" style="background-image: url(images/hero-image1.jpg);">
      <div class="banner-content">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="breadcrumb-area padding-large">
                <h1 class="page-title">About Us</h1>
                <div class="breadcum-items">
                  <span class="item">
                    <a href="/">Home</a>
                  </span>
                  <span class="item">/ About Us</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="chief-detail padding-medium">
      <div class="container">
        <div class="row">
          <div class="single-image col-md-12">
            <blockquote>WE LET YOU FEEL BEAUTIFUL LOOK BEAUTIFUL AND BE BEAUTIFUL INSIDE AND OUT</blockquote>
            <p>SolStore's mission is to elevate, enable, approve, and eventually assemble confidence in ladies around the globe through astounding items that empower both inward and external beauty and otherworldly edification while additionally giving chances to self-improvement and budgetary reward.</p>
            <p>'SolStore' represents a solid, new account in beauty, one that lifts up all outflows of independence. We accept there is no single format for beauty. Every lady is particularly wonderful and we might want to be an accomplice in her voyage to discover and improve it.</p>
          </div>
        </div>
      </div>
    </section>
    
    <section class="padding-large">
      <div class="container">
        <h2 class="section-title text-center">Our Mission</h2>
        <div class="row">
          <div class="col-md-12">
            <p> <strong>Today 'SolStore' transports over the length and expansiveness of the nation to pretty much every postal division utilizing the administrations of driving and dependable dispatch organizations.</strong> </p>
            <p>As your beauty amigo, we make your life a ton less complex by not just furnishing you with master counsel and direction, yet additionally by delivering items appropriate to your doorstep.</p>
            <p>These administrations make 'SolStore' genuinely energetic about obliging your every beauty and health requirement. Since all things considered, Your Beauty is Our Passion.</p>
          </div>
        </div>
      </div>
    </section>
    