
        <div class="row">
          <div class="col-md-12">
            <h1 class="page-title">Contact us</h1>
            <div class="breadcrumbs">
              <span class="item">
                <a href="/">Home</a>
              </span>
              <span class="item">/ Contact us</span>
            </div>
          </div>
        </div>
      
    <section class="contact-information padding-large">
      <div >
        <div class="row">
          <div class="col-md-6">
            <h2>Get in Touch</h2>
            <div class="contact-detail">
              <div class="detail-list">
                <p>Please give me a message!</p>
                <ul class="list-unstyled list-icon">
                  <li>
                    <i class="icon icon-phone"></i>+1650-243-0000
                  </li>
                  <li>
                    <i class="icon icon-envelope"></i>
                    <a href="mailto:info@yourcompany.com">info@youremail.com</a>
                  </li>
                  <li>
                    <i class="icon icon-location"></i>North Melbourne VIC 3051, Australia
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="contact-information">
              <h2>Send A Message</h2>
              <form name="contactform" action="contact.php" method="post" class="contact-form">
                <div class="form-item">
                  <input type="text" minlength="2" name="name" placeholder="Name" class="u-full-width bg-light" required>
                  <input type="email" name="email" placeholder="E-mail" class="u-full-width bg-light" required>
                  <textarea class="u-full-width bg-light" name="message" placeholder="Message" style="height: 180px;" required></textarea>
                </div>
                <label>
                  <input type="checkbox" required>
                  <span class="label-body">I agree all the <a href="#">terms and conditions</a>
                  </span>
                </label>
                <button type="submit" name="submit" class="btn btn-full btn-medium btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
   
    