<form action="/admin/category/create" method="post">
  <input type="text" placeholder="Title" name="title" />
  <input type="text" placeholder="Query" name="query" />
  <input type="submit" value="Submit" />
</form>