<form action="/admin/category/edit/{{id}}" method="post">
  <input type="text" placeholder="Title" name="title" value="{{title}}" />
  <input type="text" placeholder="Query" name="query" value="{{query}}"/>
  <input type="submit" value="Submit" />
</form>