{{!-- <script src="https://cdn.tiny.cloud/1/f53fdppnzckv1arokuyjoks8vv40ndhns7gcnxt5i1z2th0e/tinymce/5/tinymce.min.js" 
    referrerpolicy="origin"></script>
    <script>
      tinymce.init({
    selector: '#description',
    width: 900,
    height: 300,
    plugins:[
        'advlist', 'autolink', 'link', 'image', 'lists', 'charmap', 'prewiew', 'anchor', 'pagebreak',
        'searchreplace', 'wordcount', 'visualblocks', 'code', 'fullscreen', 'insertdatetime', 'media', 
        'table', 'emoticons', 'template', 'codesample'
    ],
    toolbar: 'undo redo | styles | bold italic underline | alignleft aligncenter alignright alignjustify |' + 
    'bullist numlist outdent indent | link image | print preview media fullscreen | ' +
    'forecolor backcolor emoticons',
    menu: {
        favs: {title: 'Menu', items: 'code visualaid | searchreplace | emoticons'}
    },
    menubar: 'favs file edit view insert format tools table',
    content_style: 'body{font-family:Helvetica,Arial,sans-serif; font-size:16px}'
});
    </script> --}}
    <h1 id="createProduct">Add New Product</h1>
    <form method="post" action="/shop/create">
        <label for="title"><h3>Title</h3></label>
        <input type="text" id="title" name="title">
        <label for="price"><h3>Price</h3></label>
        <input type="number" id="price" name = "price">
        <label for="price"><h3>Category</h3></label>
        <input type="text" id="price" name = "category">
        <label for="image"><h3>Image</h3></label>
        <input type="file" id="image" name="image">
        <label for="quantity"><h3>Quantity</h3></label>
        <input type="number" id = "quantity" name="quantity"><br>
        <label for="description"><h3>Description</h3></label>
        <textarea name="description" id="description" ></textarea><br>
        <button type="submit" >Submit</button>
    </form>
