<script src="/public/tinymce/tinymce.min.js"></script>
<script src="/public/js/script.js"></script>
    <h1 id="createProduct">Add New Product</h1>
    <form onsubmit="postForm()" method="POST" action="/post">
        <label for="title"><h1>Title</h1></label>
        <input type="text" id="title" name="title">
        <label for="price"><h1>Price</h1></label>
        <input type="number" id="price" name = "price">
        <label for="image"><h1>Image</h1></label>
        <input type="file" id="image" name="image">
        <label for="quantity"><h1>Quantity</h1></label>
        <input type="number" id = "quantity" name="quantity">
        <textarea name="textarea" id="description"  ></textarea>
        <input type="submit" value="Save">
    </form>