{{!-- Swipper --}}
<section id="billboard" class="bg-grey overflow-hidden">
  <div class="swiper main-swiper">
    <div class="swiper-wrapper">


      <div class="swiper-slide" style="background: url('img/slider.jpg') center / cover no-repeat; width: 100%;">

        <div class="banner-content">
          <div class="container">

            <div class="row">
              <div class="text-content content-light col-md-6" data-aos="fade">

                <h4 class="subtitle text-uppercase">Best Quality</h4>

                <h1 class="banner-title text-uppercase"><a href="#">Best Lipstick</a></h1>

                <div class="btn-left">
                  <a href="/shop" class="btn btn-medium btn-primary">Shop Now</a>
                </div>

              </div>
            </div>

          </div>

        </div>
      </div>

      <div class="swiper-slide" style="background: url('img/slider1.jpg') center / cover no-repeat; width: 100%;">

        <div class="banner-content">
          <div class="container">

            <div class="row">
              <div class="text-content col-md-6 col-md-offset-6" data-aos="fade">

                <h4 class="subtitle text-uppercase">Best Quality</h4>
                <h1 class="banner-title text-uppercase"><a href="#">Best Lipstick</a></h1>

                <div class="btn-left">
                  <a href="/shop" class="btn btn-medium btn-primary">Shop Now</a>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
  {{!--<div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>--}}
  </div>
</section>

{{!-- Intro --}}
<section class="company-services padding-large">
  <div class="container">
    <div class="row">

      <div class="icon-box-wrapper">
        <div class="icon-box col-md-3 col-sm-6 d-flex" data-aos="fade" data-aos-delay="0">
          <div class="icon-box-icon">
            <i class="icon icon-coins"></i>
          </div>
          <div class="icon-content">
            <h2 class="text-uppercase">Best Quality !</h2>
            <p>100% money back 20 days</p>
          </div>
        </div>
        <div class="icon-box col-md-3 col-sm-6 d-flex" data-aos="fade" data-aos-delay="200">
          <div class="icon-box-icon">
            <i class="icon icon-headphones"></i>
          </div>
          <div class="icon-content">
            <h2 class="text-uppercase">Premium Support</h2>
            <p>We support online 24 hours a day</p>
          </div>
        </div>
        <div class="icon-box col-md-3 col-sm-6 d-flex" data-aos="fade" data-aos-delay="300">
          <div class="icon-box-icon">
            <i class="icon icon-rocket"></i>
          </div>
          <div class="icon-content">
            <h2 class="text-uppercase">Free Shipping</h2>
            <p>Free shipping on all Vietnam orders</p>
          </div>
        </div>
        <div class="icon-box col-md-3 col-sm-6 d-flex" data-aos="fade" data-aos-delay="400">
          <div class="icon-box-icon">
            <i class="icon icon-suitcase"></i>
          </div>
          <div class="icon-content">
            <h2 class="text-uppercase">Secure Payment</h2>
            <p>We ensure secure payment</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


{{!-- Category --}}
<section class="categories swiper-button-click">
  <div class="container">
    <div class="row">
      <div class="section-header text-center text-uppercase">
        <h2 class="section-title">Our Categories</h2>
      </div>
      <div class="swiper product-swiper overflow-hidden">

        <div class="swiper-wrapper small-box">
          <div class="swiper-slide">
            <div class="content-box">
              <figure class="bg-grey">
                <img src="img/dior.jpg" alt="lipstick">
              </figure>
              <div class="category text-uppercase align-center">
                <a href="#">Dior</a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="content-box">
              <figure class="bg-grey">
                <img src="img/ysl.png" alt="lipstick">
              </figure>
              <div class="category text-uppercase align-center">
                <a href="#">YSL</a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="content-box">
              <figure class="bg-grey">
                <img src="img/mac_symbol-removebg-preview.png" alt="lipstick">
              </figure>
              <div class="category text-uppercase align-center">
                <a href="#">Mac</a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="content-box">
              <figure class="bg-grey">
                <img src="img/3ce.png" alt="lipstick">
              </figure>
              <div class="category text-uppercase align-center">
                <a href="#">3ce</a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="content-box">
              <figure class="bg-grey">
                <img src="img/gucci.png" alt="lipstick">
              </figure>
              <div class="category text-uppercase align-center">
                <a href="#">Gucci</a>
              </div>
            </div>
          </div>
        </div>

        {{!--<div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>--}}

      </div>
    </div>
  </div>
</section>

{{!-- Best Seller --}}
<section class="feat-collection padding-large">
  <div class="container">
    <div >
      <div class="section-header text-center">
      <h2 class="section-title">Best Seller</h2>
    </div>
    <div class="large-box flex-wrap row">
        <div class=" col-md-4 col-sm-6 col-6">
      <div class=" text-center" data-aos="fade" data-aos-delay="0">
        <figure class="bg-white">
          <img src="img/ysl1.jpg" alt="lipstick" style="max-height:280px">
        </figure>
        <div class="category align-center">
          <a href="/shop/product/6427ddc7d9c0723214218368" class=" text-decoration-none text-dark">YSL Light Red</a>
        </div>
        <span class="price-tag text-center">$27</span>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-6">
      <div class="text-center" data-aos="fade" data-aos-delay="100">
        <figure class="bg-white">
          <img src="img/ysl2.jpg" alt="lipstick" style="max-height:280px">
        </figure>
        <div class="category align-center">
          <a href="/shop/product/6427dd0c472baf569cf713b3" class=" text-decoration-none text-dark">YSL Golden Star</a>
        </div>
        <span class="price-tag text-center">$444</span>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-6">
      <div class="text-center" data-aos="fade" data-aos-delay="200">
        <figure class="bg-white">
          <img src="img/gucci.png" alt="lipstick" style="max-height:280px">
        </figure>
        <div class="category align-center">
          <a href="/shop/product/6427d96647d3d4154257d682" class=" text-decoration-none text-dark">Gucci Gold</a>
        </div>
        <span class="price-tag text-center">$125</span>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-6">
      <div class="text-center" data-aos="fade" data-aos-delay="300">
        <figure class="bg-white">
          <img src="img/son-li-charlotte-tilbury-813715.jpg" alt="lipstick" style="max-height:280px">
        </figure>
        <div class="category align-center">
          <a href="/shop/product/6427dab67d15fd7498f217ff" class=" text-decoration-none text-dark">Charlotte Tilbury</a>
        </div>
        <span class="price-tag text-center">$451</span>
      </div>
    </div>
  </div>
  </div>
  <div class="btn-center">
    <a href="/shop" class="btn btn-medium btn-primary">Shop Now</a>
  </div>
  </div>
</section>

{{!-- Special Ornaments --}}
<section class="special-ornaments">
  <div class="container">
    <div class="row">
      <div class="ornaments-content d-flex flex-wrap">
        <div class="col-md-6">

          <div class="content-box bg-grey d-flex justify-content-evenly align-items-center" data-aos="fade">
            <div class="content-text text-center">
              <h4>Get upto <strong class="text-primary">50% Off</strong>
              </h4>
              <h2 class="element-title">Lead the fashion</h2>
              <div class="text-center">
                <a href="/shop" class="btn btn-outline-dark">Shop Now</a>
              </div>
            </div>
            <figure>
              <img src="img/dior_sale-removebg-preview.png" alt="lipstick">
            </figure>
          </div>

        </div>
        <div class="col-md-6">

          <div class="content-box bg-grey d-flex justify-content-evenly align-items-center" data-aos="fade">
            <div class="content-text text-center">
              <h4>From Our <strong class="text-primary">Best Collections</strong>
              </h4>
              <h2 class="element-title">Show the charm</h2>
              <div class="text-center">
                <a href="/shop" class="btn btn-outline-dark">Shop Now</a>
              </div>
            </div>
            <figure>
              <img src="img/mac_sale-removebg-preview.png" alt="lipstick">
            </figure>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

{{!-- About --}}
<section class="about-us padding-large" data-aos="fade">
  <div class="container">
    <div class="row">
      <div class="section-header text-center">
        <h2 class="section-title mb-5">About Store</h2>
      </div>
    </div>
    <div class="text-content text-center">
      <strong>WE LET YOU FEEL BEAUTIFUL LOOK BEAUTIFUL AND BE BEAUTIFUL INSIDE AND OUT</strong>
      <p>SOLStore's mission is to elevate, enable, approve, and eventually assemble confidence in ladies around the
        globe through astounding items that empower both inward and external beauty and otherworldly edification while
        additionally giving chances for self-improvement and budgetary reward.</p>
    </div>
  </div>
  </div>
</section>

{{!-- Special Offer --}}
<section class="special-offer padding-large">
  <div class="container">
    <div class="row">
      <div class="text-content text-center">
        <h1 class="element-title">
          <strong>The art of creating beautiful, natural lip colors is our vocation.</strong>
        </h1>
        <p>Your Beauty is our Passion.</p>
      </div>
    </div>
    <div class="text-center">
      <a href="/shop" class="btn btn-medium btn-primary">Shop Now</a>
    </div>
  </div>
</section>

{{!-- Blog --}}
<section class="latest-blogs padding-large">
  <div class="container">
    <div class="row">
      <div class="section-header text-center">
        <h2 class="section-title">Latest Blogs</h2>
      </div>
    </div>
    <div class="post-review col-md-4 post-item">
      <figure>
        <img src="img/blog1.jpg" alt="jewellery" class="post-image">
      </figure>
      <div class="post-content">
        <div class="meta-tags">
          <span class="meta-date">Posted in September 15, 2022</span>
          <span class="meta-date">by Simon</span>
        </div>
        <h3 class="post-title">
          <a href="#">Lipstick : my beauty secret</a>
        </h3>
        <p>A lot of women have that “final accessory” they put on to pull an entire look together. For some, it's a
          statement ring, or a scarf. For me? It's lipstick. </p>
      </div>
    </div>
    <div class="post-review col-md-4 post-item">
      <figure>
        <img src="img/blog2.jpg" alt="jewellery" class="post-image">
      </figure>
      <div class="post-content">
        <div class="meta-tags">
          <span class="meta-date">Posted in September 25, 2022</span>
          <span class="meta-date">by Anne</span>
        </div>
        <h3 class="post-title">
          <a href="#">magical lipstick</a>
        </h3>
        <p>I'm a skeptic at heart. My natural inclination is to always assume products won't work like they say they
          will-and then I'll be pleasantly surprised if they actually do work well!</p>
      </div>
    </div>
    <div class="post-review col-md-4 post-item">
      <figure>
        <img src="img/blog3.jpg" alt="jewellery" class="post-image">
      </figure>
      <div class="post-content">
        <div class="meta-tags">
          <span class="meta-date">Posted in September 28, 2022</span>
          <span class="meta-date">by Lucie</span>
        </div>
        <h3 class="post-title">
          <a href="#">Neutral (but not nude) Lips</a>
        </h3>
        <p>I've heard from so many of your that you are trying to find (or have found) your “your lips but better” shade
          for the perfect neutral lip color. I've discovered a few of my favorites, varying from a mauve tone to a pink
          tone.
        </p>
      </div>
    </div>

    <div class="text-center">
      <a href="/pages/blog" class="btn btn-medium btn-primary">View All</a>
    </div>
  </div>

</section>
<style>
  .categories {
    padding: 20px;
  }

  .feat-collection {
    padding: 20px;
  }

  .about-us {
    padding: 20px;
  }

  .latest-blogs {
    padding: 20px;
  }

  .post-review {
    transition: all 0.3s;
  }

  .post-review:hover {
    transform: scale(1.07);
  }
</style>


{{!-- {{#each product}}
<div class=" col-md-4 col-sm-6 col-6">
  <div class=" text-center" data-aos="fade" data-aos-delay="0">
    <figure class="bg-white">
      <img src="{{image}}" alt="lipstick" style="max-height:280px">
    </figure>
    <div class="category align-center">
      <a href="#" class=" text-decoration-none text-dark">{{title}}</a>
    </div>
    <span class="price-tag text-center">${{price}}</span>
  </div>
</div>
{{/each}} --}}