  {{!-- Swipper --}}
    <section id="billboard" class="bg-grey overflow-hidden">
      <div class="swiper main-swiper">
        <div class="swiper-wrapper">
          

          <div class="swiper-slide" style="background: url('images/slider.jpg') center / cover no-repeat; width: 100%;">

            <div class="banner-content">
              <div class="container">
                
                <div class="row">
                  <div class="text-content content-light col-md-6" data-aos="fade">
                    
                    <h4 class="subtitle text-uppercase">Best Quality</h4>
                    
                    <h1 class="banner-title text-uppercase"><a href="#">Best Lipstick</a></h1>
                    
                    <div class="btn-left">
                      <a href="#" class="btn btn-medium btn-primary">Shop Now</a>
                    </div>

                  </div>  
                </div>

              </div>

            </div>
          </div>

          <div class="swiper-slide" style="background: url('images/slider1.jpg') center / cover no-repeat; width: 100%;">
            
            <div class="banner-content">
              <div class="container">
                
                <div class="row">
                  <div class="text-content col-md-6 col-md-offset-6" data-aos="fade">
                    
                    <h4 class="subtitle text-uppercase">Best Quality</h4>
                    <h1 class="banner-title text-uppercase"><a href="#">Best Lipstick</a></h1>
                    
                    <div class="btn-left">
                      <a href="#" class="btn btn-medium btn-primary">Shop Now</a>
                    </div>

                  </div>  
                </div>

              </div>

            </div>
          </div>

        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>
    </section>

    {{!-- Intro --}}
    <section class="company-services padding-large">
      <div class="container">
        <div class="row">
          
          <div class="icon-box-wrapper">
            <div class="icon-box col-md-3 col-sm-6 d-flex" data-aos="fade" data-aos-delay="0">
              <div class="icon-box-icon">
                <i class="icon icon-coins"></i>
              </div>
              <div class="icon-content">
                <h2 class="text-uppercase">Best Quality !</h2>
                <p>100% money back 20 days</p>
              </div>
            </div>
            <div class="icon-box col-md-3 col-sm-6 d-flex" data-aos="fade" data-aos-delay="200">
              <div class="icon-box-icon">
                <i class="icon icon-headphones"></i>
              </div>
              <div class="icon-content">
                <h2 class="text-uppercase">Premium Support</h2>
                <p>We support online 24 hours a day</p>
              </div>
            </div>
            <div class="icon-box col-md-3 col-sm-6 d-flex" data-aos="fade" data-aos-delay="300">
              <div class="icon-box-icon">
                <i class="icon icon-rocket"></i>
              </div>
              <div class="icon-content">
                <h2 class="text-uppercase">Free Shipping</h2>
                <p>Free shipping on all Vietnam orders</p>
              </div>
            </div>
            <div class="icon-box col-md-3 col-sm-6 d-flex" data-aos="fade" data-aos-delay="400">
              <div class="icon-box-icon">
                <i class="icon icon-suitcase"></i>
              </div>
              <div class="icon-content">
                <h2 class="text-uppercase">Secure Payment</h2>
                <p>We ensure secure payment</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>


    {{!-- Category --}}
    <section class="categories swiper-button-click">
      <div class="container">
        <div class="row">
          <div class="section-header text-center text-uppercase">
            <h2 class="section-title">Our Categories</h2>
          </div>
          <div class="swiper product-swiper overflow-hidden">
            
            <div class="swiper-wrapper small-box">
              <div class="swiper-slide">
                <div class="content-box">
                  <figure class="bg-grey">
                    <img src="images/dior.jpg" alt="lipstick">
                  </figure>
                  <div class="category text-uppercase align-center">
                    <a href="#">Dior</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="content-box">
                  <figure class="bg-grey">
                    <img src="images/ysl.png" alt="lipstick">
                  </figure>
                  <div class="category text-uppercase align-center">
                    <a href="#">YSL</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="content-box">
                  <figure class="bg-grey">
                    <img src="images/mac_symbol-removebg-preview.png" alt="lipstick">
                  </figure>
                  <div class="category text-uppercase align-center">
                    <a href="#">Mac</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="content-box">
                  <figure class="bg-grey">
                    <img src="images/3ce.png" alt="lipstick">
                  </figure>
                  <div class="category text-uppercase align-center">
                    <a href="#">3ce</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="content-box">
                  <figure class="bg-grey">
                    <img src="images/gucci.png" alt="lipstick">
                  </figure>
                  <div class="category text-uppercase align-center">
                    <a href="#">Gucci</a>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>

          </div>
        </div>
      </div>
    </section>

    {{!-- Best Seller --}}
    <section class="feat-collection padding-large">
      <div class="container">
        <div class="row">
          <div class="section-header text-center">
            <h2 class="section-title">Best Seller</h2>
          </div>
          <div class="product-content large-box flex-wrap">
            {{#each bestproduct}}
            <div class="col-md-3">
              <div class="content-box text-center" data-aos="fade" data-aos-delay="0">
                <figure class="bg-grey">
                  <img src={{image}} alt={{category}}>
                </figure>
                <div class="category align-center">
                  <a href="#">{{title}}</a>
                </div>
                <span class="price-tag text-center">{{price}}</span>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
        <div class="btn-center">
          <a href="#" class="btn btn-medium btn-primary">Shop Now</a>
        </div>
      </div>
    </section>

    {{!-- Special Ornaments --}}
    <section class="special-ornaments">
      <div class="container">
        <div class="row">
          <div class="ornaments-content d-flex flex-wrap">
            <div class="col-md-6">
              
              <div class="content-box bg-grey d-flex justify-content-evenly align-items-center" data-aos="fade">
                <div class="content-text text-center">
                  <h4>Get upto <strong class="text-primary">50% Off</strong>
                  </h4>
                  <h2 class="element-title">Lead the fashion</h2>
                  <div class="text-center">
                    <a href="#" class="btn btn-outline-dark">Shop Now</a>
                  </div>
                </div>
                <figure>
                  <img src="images/dior_sale-removebg-preview.png" alt="lipstick">
                </figure>
              </div>

            </div>
            <div class="col-md-6">

              <div class="content-box bg-grey d-flex justify-content-evenly align-items-center" data-aos="fade">
                <div class="content-text text-center">
                  <h4>From Our <strong class="text-primary">Best Collections</strong>
                  </h4>
                  <h2 class="element-title">Show the charm</h2>
                  <div class="text-center">
                    <a href="#" class="btn btn-outline-dark">Shop Now</a>
                  </div>
                </div>
                <figure>
                  <img src="images/mac_sale-removebg-preview.png" alt="lipstick">
                </figure>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>

    {{!-- About --}}
    <section class="about-us padding-large" data-aos="fade">
      <div class="container">
        <div class="row">
          <div class="section-header text-center">
            <h2 class="section-title mb-5">About Store</h2>
          </div>
          <div class="text-content text-center">
            <strong>WE LET YOU FEEL BEAUTIFUL LOOK BEAUTIFUL AND BE BEAUTIFUL INSIDE AND OUT</strong>
            <p>SOLStore's mission is to elevate, enable, approve, and eventually assemble confidence in ladies around the globe through astounding items that empower both inward and external beauty and otherworldly edification while additionally giving chances for self-improvement and budgetary reward.</p>
          </div>
        </div>
      </div>
    </section>

    {{!-- Special Offer --}}
    <section class="special-offer padding-large">
      <div class="container">
        <div class="row">
            <div class="text-content text-center">
              <h1 class="element-title">
                <strong>The art of creating beautiful, natural lip colors is our vocation.</strong>
              </h1>
              <p>Your Beauty is our Passion.</p>
            </div>
            <div class="text-center">
              <a href="#" class="btn btn-medium btn-primary">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    {{!-- Blog --}}
    <section class="latest-blogs padding-large">
      <div class="container">
        <div class="row">
          <div class="section-header text-center">
            <h2 class="section-title">Latest Blogs</h2>
          </div>
        <div class="text-center">
          <a href="#" class="btn btn-medium btn-primary">View All</a>
        </div>
      </div>
    </section>