<div class="row">

    <div class="col-md-4 col-md-offset-4">

        <h1>Sign Up</h1>
        {{#if hasErrors}}
        <div class="alert alert-danger">
            {{# each messages}}
            <p>{{this}}</p>
            {{/each}}
        </div>
        {{/if}}
        <form action="/user/signup" method="post">

            <div class="form-group">
                <label for="text">Username</label>
                <input type="text" id="name" name="name" placeholder="Enter your name" title="enter your lastname" class="form-control">
            </div>

            <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="text" id="email" name="email" placeholder="email" title="enter your email" class="form-control">
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder=" password" title="enter your password" class="form-control">
            </div>
            
            <div class="form-group">
                <label for="password">Confirm Password</label>
                <input type="password" id="password" name="password" placeholder=" password" title="enter your password" class="form-control">
            </div>

            <p>Already a member? <a href="/user/signin">Sign in</a></p>

            <input type="hidden" name="_csrf" value="{{ csrfToken }}">

            <button type="submit" class="btn btn-primary">Sign Up</button>

        </form>

    </div>

</div>