<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Sign In</h1>
         
        <form action="/user/signin" method="post">
            <div class="form-group">
                <label for="email">E-Mail or Phone</label>
                <input type="text" id="email or numberphone " name="email or numberphone"  placeholder="your email or phone" title="enter your email/phone." class="form-control">
                
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder=" your password" title="enter your password." class="form-control">
            </div>
            <div class="pass">Forgot Password?</div>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <button type="submit" class="btn btn-primary">Sign In</button>
        </form>

        <p>Don't have an account? <a href="/pages/signup">Sign up instead!</a></p>

    </div>
</div>
