<footer id="footer" class="bg-grey py-3 overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="footer-content">
        <div class="row d-flex flex-wrap justify-content-center">
          <div class="footer-menu col-md-3 col-sm-6 col-xs-6">
            <h4 class="widget-title text-uppercase">Quick Links</h4>
            <ul class="list-unstyled">
              <li>
                <a href="#" class="text-secondary">Home</a>
              </li>
              <li>
                <a href="/shop" class="text-secondary">Category</a>
              </li>
              <li>
                <a href="/pages/blog" class="text-secondary">Blog</a>
              </li>
            </ul>
          </div>
          <div class="footer-menu col-md-3 col-sm-6 col-xs-6">
            <h4 class="widget-title text-uppercase">Your Account</h4>
            <ul class="list-unstyled">
              <li>
                <a href="/pages/account" class="text-secondary">My Account</a>
              </li>
              <li>
                <a href="/user/signin" class="text-secondary">Login</a>
              </li>
              <li>
                <a href="/pages/wishlist" class="text-secondary">Wish Lists</a>
              </li>
            </ul>
          </div>
          <div class="footer-menu col-md-3 col-sm-6 col-xs-6">
            <h4 class="widget-title text-uppercase">About us</h4>
            <ul class="list-unstyled">
              <li>
                <a href="/thank-you" class="text-secondary">Thank you</a>
              </li>
              <li>
                <a href="/pages/contact" class="text-secondary">Contact us</a>
              </li>
              <li>
                <a href="/about" class="text-secondary">Our story</a>
              </li>
            </ul>
          </div>
          <div class="footer-menu col-md-3 col-sm-6 col-xs-6">
            <h4 class="widget-title text-uppercase">Newsletter</h4>
            <div class="content">
              <div class="widget-content">
                <p>Stay Updated With Us For News And Offers</p>
                <div class="newsletter-button d-flex flex-wrap align-items-center">
                  <input type="text" name="Subscribe" placeholder="Your Email Address">
                  <button class="btn btn-primary mt-2">Subscribe</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="footer-bottom bg-dark-grey p-2">
  <div class="container">
    <div class="footer-bottom-content content-light">
      <div class="copyright">
        <span>SolStore Cosmetic © 2023</span>
      </div>
      <div class="social-links">
        <span>Follow Us:</span>
        <div class="follow-image">
          <a href="https://www.instagram.com"><i class="fa-brands fa-instagram text-danger fa-lg"></i></a>
          <a href="https://www.facebook.com"><i class="fa-brands fa-facebook text-primary fa-lg"></i></a>
          <a hrep="https://www.twitter.com"><i class="fa-brands fa-twitter text-primary fa-lg"></i></a>
        </div>
      </div>
      <div class="payment-card">
        <span>We Accept:</span>
        <div class="follow-image">
          <a><i class="fa-brands fa-cc-visa"></i></a>
          <a><i class="fa-brands fa-cc-paypal"></i></a>
          <a><i class="fa-brands fa-cc-mastercard"></i></a>
        </div>
      </div>
      <style>
        .footer-bottom-content {
          display: flex;
          gap: 20px;
        }

        .copyright {
          white-space: nowrap;
        }

        .follow-image {
          display: flex;
          gap: 10px;
        }

        .images {
          width: 40px;
        }

        .social-links {
          display: flex;
          gap: 10px;
        }

        .payment-card {
          display: flex;
          gap: 10px;
          margin-left: auto;
        }

        .footer-bottom {
          padding: 20px;
          display: flex;
        }

        @media screen and (max-width: 992px) {
          .footer-bottom-content {
            flex-direction: column;
          }

          .payment-card {
            margin-left: unset;
          }
        }
      </style>
    </div>
  </div>
</div>
{{!--
<script src="js/jquery-1.11.0.min.js"></script> --}}
{{!--
<script type="text/javascript" src="js/plugins.js"></script>
<script type="text/javascript" src="js/script.js"></script> --}}